[ScanLib]
windowOriginX=4
windowOriginY=42
windowWidth=280
windowHeight=375
aoiLeft=0
aoiRight=8520
aoiTop=0
aoiBottom=11400
minimizeBed=0
scanLeftEdge=0
scanRightEdge=11128
scanTopEdge=0
scanBottomEdge=11400
showRulers=1
showInfo=1
scanMode=1
prescanMode=2
units=1
output=1
zoom=1
activeDriver=JX300.DLL

[JX-300]
devId=2
release=1
version=2
releaseDate=Dec 26 1990
name=JX-300
manufacturer=Sharp
BoardName=GPIB0
DeviceName=DEV7
TransferSpeed=2
DMA=0
units=2
left=0
top=0
right=8520
bottom=11400
ColorXDPI=75
ColorYDPI=75
ColorVTrack=1
ColorSpeed=0
ColorEdge=0
ColorGamma=1
ColorLuminosity=1000
ColorPixHor=640
ColorPixVer=480
ColorPixelOn=0
ColorNumLevels=256
ColorDither=1
ColorRedThresh=0
ColorGreenThresh=0
ColorBlueThresh=0
ColorDataFormat=1
GrayXDPI=75
GrayYDPI=75
GrayVTrack=1
GraySpeed=1
GrayEdge=0
GrayScaleGamma=1
GrayLuminosity=1000
GrayPixHor=640
GrayPixVer=480
GrayPixelOn=0
GrayLamp=1
MonoXDPI=75
MonoYDPI=75
MonoVTrack=1
MonoSpeed=1
MonoEdge=0
MonoPixHor=640
MonoPixVer=480
MonoPixelOn=0
MonoThreshold=128
MonoPositive=1
MonoDither=1
MonoLamp=1
RedGamma=100
RedHighlight=0
RedShadow=0
GreenGamma=100
GreenHighlight=0
GreenShadow=0
BlueGamma=100
BlueHighlight=0
BlueShadow=0
GrayGamma=100
GrayHighlight=0
GrayShadow=0
ScanSpeed=0
